

#porcentaje {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grilla {
    position: relative;
}

.programa {
    top: 50%;
    left: 50%;
    transition: .1s ease;
}

.middle {
    position: absolute;
    transition: 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 25px;
    opacity: 0;
}

#grilla:hover .programa {
    opacity: 0.3;

}

#grilla:hover .middle {
    opacity: 1;
}



.primerRenglon {
    margin-top: 10px;
}