<div class="container">
    <div class="row" *ngFor="let education of estudiosList">
        <div class="col-2">

        </div>
        <div class="col">
            <ul>
                <li>Título: {{education.title}} </li>
                <li>Institución: {{education.institution}} </li>
                <li>Estado: {{education.state}}</li>
                <li>Comienzo: {{education.start}}</li>
                <li>Finalización: {{education.finish}}</li>
            </ul>
        </div>
    </div>
</div>