<div section="educacion">    

    <div class="container border-bottom">
        <div class="row" *ngFor="let education of estudiosList">
            <span class="border-top"></span>
            <!--Logo de la institución-->
            <div class="col-2">
                
                <img [src]="education.logo" class="img-fluid" alt="Responsive image" id="logo" />

            </div>
            <div class="col text-left">
                <!--Descripción-->
                <h2> {{education.title}} </h2>
                <p>Institución: {{education.institution}} </p>
                <p>Estado: {{education.state}}</p>
                <p>Comienzo: {{education.start}}</p>
                <!--Finalización solo se muestra si se aprobaron todas las materias-->
                <p *ngIf="education.materiasApr==education.totalMaterias">Finalización: {{education.finish}}</p>
                <!--Barra de progreso-->
                <div class="row" id="progressBar">
                    <div class="col text-center"></div>
                    <div class="col text-center">
                        <div class="progress" style="width:100%">
                            <div class="progress-bar progress-bar-striped" role="progressbar"
                                [style.width.%]="(education.materiasApr/education.totalMaterias)*100" aria-valuenow="10"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col text-center"></div>
                </div>
                <!-- redondear el resultado usando Math.floor()-->
                <div class="row text-center" id="porcentaje">
                    <p>{{Math.floor((education.materiasApr/education.totalMaterias)*100)}}%</p>
                </div>                
            </div>
            
        </div>        
    </div>
</div>
<div section="conocimientos">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Conocimientos</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5%" *ngFor="let filas of filasArray;index as i">
            <div class="col text-center" *ngFor="let columnas of columnasArray;index as j">
                <img *ngIf="3*i+j<tamanioKnowledge" [src]="knowledgeList[3*i+j].image" style="width:45%;height:75%;">
            </div>
        </div>
    </div>
</div>