footer{
    background-color:rgb(177, 199, 218);
    margin-top:60px;
    border-radius: 10px;
}
p{
    color:white;
    font-size:14px;
}
a{
    font-size:14px;
}
#fila{
    padding: 2%;
}
@media(max-width:380px){
    .mensaje{
        font-size:5vw;
    }
    p{
        font-size:4vw;
    }
}
