footer{
    background-color:rgb(177, 199, 218);;
    margin-top:60px;
    border-radius: 10px;
}
.darkFooter{    
    background-color:rgb(23, 65, 102);
}
p{
    color:white;
    font-size:14px;
}
a{
    font-size:14px;
}
#fila{
    padding: 2%;
}
@media(max-width:470px){
    .mensaje{
        font-size:4vw;
    }
    p{
        font-size:3vw;
    }
}
