<footer>
    <div class="container">
        <div class="row">
            <div class="col my-auto">
                <p>Repositorio: <a href="https://github.com/ulisescorrales/argentinaProgramaProyecto">FrontEnd</a>,
                    <a href="https://github.com/ulisescorrales/argentinaProgramaProyecto">BackEnd</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Allen, Río Negro, Argentina</p>
            </div>
            <div class="col text-center">
                <a href="">Contacto</a>
            </div>
            <div class="col">
                <p class="float-end">CV</p>
            </div>
        </div>
    </div>
</footer>