<div section="experiencia">
    <div class="row border-bottom">
        <div class="col text-center">
            <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="250">Experiencia</h2>
        </div>
    </div>
    <div class="row  primerRenglon" *ngFor="let experiencia of experienciaList" data-aos="fade-right"
        data-aos-duration="1000" data-aos-delay="250">
        <!--Logo de la institución-->
        <div class="col-2">

            <img [src]="experiencia.logo" class="img-fluid logo" alt="Responsive image" />

        </div>
        <div class="col text-left">
            <p>Institución: {{experiencia.institution}}</p>
            <p>{{experiencia.description}}</p>
            <ul>
                <li *ngFor="let task of experiencia.task">{{task.description}}.
                    <ng-template *ngIf="task.repository!=''">
                        <a [href]=task.repository>Repositorio</a>
                        <span>. </span>
                    </ng-template>
                </li>
            </ul>
        </div>
        <ng-template [ngIf]="editar==true">
            <div class="col-1  my-auto">
                <i class="fa-solid fa-pen editar remarcar" [routerLink]="['editar','experiencia',experiencia.id]"></i>
                <i class="fa-sharp fa-solid fa-trash editar remarcar"
                    [routerLink]="['editar','eliminar','experiencia',experiencia.id]"></i>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 *ngIf="editar==true"><i class="fa-solid fa-circle-plus editar remarcar" data-aos="zoom-in" data-aos-duration="1000"
                    data-aos-delay="250" [routerLink]="['editar','agregar','experiencia']"></i></h1>
        </div>
    </div>
</div>