<div section="experiencia">
    <div class="row border-bottom">
        <div class="col text-center">
            <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="250">Experiencia</h2>
        </div>
    </div>    
    <div class="row  primerRenglon" *ngFor="let experiencia of experienciaList" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="250">        
        <!--Logo de la institución-->
        <div class="col-2">

            <img [src]="experiencia.logo" class="img-fluid logo" alt="Responsive image" />

        </div>
        <div class="col text-left">
            <p>{{experiencia.description}}</p>
            <ul>
                <li *ngFor="let task of experiencia.task">{{task}}. 
                    <a [href]=experiencia.repository>Repositorio</a>
                    <span>. </span>
                    <a [href]=experiencia.certificate type="application/pdf" rel="alternate" media="print" target="blank">Certificado</a>
                </li>                
            </ul>            
        </div>
        <ng-template [ngIf]="editar==true">
            <div class="col-1  my-auto">
                <i class="fa-solid fa-pen editar remarcar"></i>
                <i class="fa-sharp fa-solid fa-trash editar remarcar"></i>
            </div>
        </ng-template>
    </div>
</div>