<div class="d-flex flex-column mb-3 top-50 start-50 translate-middle justify-content-center" id="contacto" data-aos="fade-up">
    <div class="p-2 align-self-end">
        <i class="fa-regular fa-circle-xmark borrar" routerLink="/"></i>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre/Organización</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        <label for="exampleFormControlInput1" class="form-label">Contacto</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email/teléfono">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="p-2">
        <button type="submit" class="btn btn-primary mb-3 rounded mx-auto d-block" routerLink="/">Enviar</button>
    </div>
</div>