.fa-circle{
    padding-right: 4%;
    padding-left: 4%;
}
/*
i.fa-solid.fa-circle:hover{
    color:greenyellow;
    display: block;
}
i.fa-regular.fa-circle:hover{
    display:none;
}*/
@media(max-width:440px){
    .fa-circle{
        font-size: 4vw;
    }
}