<div class="container">
    <div class="row">
        <div class="col">            
            <button (click)="this.leftSlide()" class="btn" [ngClass]="{'btn-outline-info':this.darkTheme,' btn-primary':!this.darkTheme}"><i class="fa-solid fa-arrow-left"></i></button>
        </div>        
            <!--
            <div class="punto">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
            </div>            
            <div class="punto">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
            </div>            
            <div class="punto">                
                <i class="fa-solid fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
            </div>            
            <div class="punto">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
            </div>                        -->        
        <div class="col text-center">
            <i class="fa-solid fa-circle" *ngIf="this.slide==0; else o1"></i>
            <ng-template #o1 ><i class="fa-regular fa-circle" (click)="this.slide=0"></i></ng-template>
            <i class="fa-solid fa-circle " *ngIf="this.slide==1; else o2"></i>
            <ng-template #o2><i class="fa-regular fa-circle" (click)="this.slide=1"></i></ng-template>
            <i class="fa-solid fa-circle" *ngIf="this.slide==2; else o3"></i>
            <ng-template #o3><i class="fa-regular fa-circle" (click)="this.slide=2"></i></ng-template>
            <i class="fa-solid fa-circle" *ngIf="this.slide==3; else o4"></i>
            <ng-template #o4><i class="fa-regular fa-circle" (click)="this.slide=3"></i></ng-template>
        </div>
        <div class="col">
            <button (click)="this.rightSlide()" class="btn float-end" [ngClass]="{'btn-outline-info':this.darkTheme,' btn-primary':!this.darkTheme}"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>
<app-educacion [style]="{'display':this.slide==0? 'block':'none'}"></app-educacion>
<app-conocimientos [style]="{'display':this.slide==1? 'block':'none'}"></app-conocimientos>
<app-experiencia [style]="{'display':this.slide==2? 'block':'none'}"></app-experiencia>
<app-proyecto [style]="{'display':this.slide==3? 'block':'none'}"></app-proyecto>