<div class="d-flex flex-column mb-3">
    <form [formGroup]="formPersona" (ngSubmit)="enviarAcercaDe()">
        <div class="p-2">
            <label>Foto de Perfil:</label>
            <input class="form-control" formControlName="fotoPerfil">
        </div>
        <div class="p-2">
            <label>Foto de fondo</label>
            <input class="form-control" formControlName="fotoFondo">
        </div>
        <div class="p-2">
            <label>Descripcion:</label>
            <input class="form-control" formControlName="sobreMi">
        </div>
        <div class="p-2">
            <button type="submit" formTar class="btn btn-primary mb-3 rounded mx-auto d-block">Modificar Acerca De</button>
        </div>
    </form>
    <form [formGroup]="formContacto" (ngSubmit)="enviarContacto()">
        <div class="p-2">
            <label>Email:</label>
            <input class="form-control" formControlName="email">
        </div>            
        <div class="p-2">
            <label>Telefono:</label>
            <input class="form-control" formControlName="telefono">
        </div>
        <div class="p-2">
            <label>Facebook:</label>
            <input class="form-control" formControlName="facebook">
        </div>
        <div class="p-2">
            <label>Linkedin:</label>
            <input class="form-control" formControlName="linkedin">
        </div>
        <div class="p-2">
            <label>Twitter</label>
            <input class="form-control" formControlName="twitter">
        </div>
        <div class="p-2">
            <label>GitHub</label>
            <input class="form-control" formControlName="github">
        </div>
        <div class="p-2">
            <button type="submit" formTar class="btn btn-primary mb-3 rounded mx-auto d-block">Modificar datos de contacto</button>
        </div>
    </form>    
</div>