<div class="d-flex flex-column mb-3 top-50 start-50 translate-middle justify-content-center" id="acercaDe" data-aos="fade-up">
    <div class="p-2 align-self-end">
        <i class="fa-regular fa-circle-xmark borrar" routerLink="/"></i>
    </div>
    <div class="p-2">
        <label>Foto de Perfil:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Foto de fondo</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Descripcion:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Facebook:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Linkedin:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Twitter</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>GitHub</label>
        <input class="form-control">
    </div>
    <div class="p-2">        
        <button type="submit" class="btn btn-primary mb-3 rounded mx-auto d-block">Modificar</button>
    </div>
</div>
