#editar {
    padding:10px;
    border-style: double;
    position: fixed;    
    background-color:white;            
    max-height: 100%;
    border-radius: 20px;
    overflow-y:auto;    
    width:50%;
    border-color: black;
}