#grilla {
    position: relative;
}
.middle {
    position: absolute;
    transition: 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 3vw;
    opacity: 0;
}
#grilla:hover .middle{
    opacity:1;
}
#grilla:hover img{
    opacity: 0.3;   
    transition: 0.8s ease;     
}
.logo{
    border-radius: 5%;
    height: 100%;
    width: 100%;
}