<!--Spinner indicador del estado de carga, se coloca aquí para que aparezca en el medio de la pantalla-->
<div class="mb-3 top-50 start-50 translate-middle" [ngClass]="{'dark':this.darkTheme,'light':!this.darkTheme}" id="status">
    <div class="row justify-content-center">
        <div class="col-md text-center">
            <div class="lds-ellipsis" ><div [style]="this.darkTheme?{'background-color':'white'}:null"></div><div [style]="this.darkTheme?{'background-color':'white'}:null"></div><div [style]="this.darkTheme?{'background-color':'white'}:null"></div><div></div></div>
        </div>
    </div>
    <div class="row justify-content-center mx-0">
        <div class="col">
            <p class="texto text-center" id="mensajeDeInicio">Espere hasta 5 minutos</p>
        </div>
    </div>
</div>