.grilla {
    position: relative;
}
.middle {
    position: absolute;
    transition: 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 18px;
    opacity: 0;
}
.grilla:hover .middle{
    opacity:1;
}
.grilla:hover img{
    opacity: 0.3;   
    transition: 0.8s ease;     
}
.logo{
    width:45%;height:75%;
    padding:5%;
    margin-top:5%;
    background-color: white;    
    fill:white
}
.proyecto{        
    border-radius: 1%;
    border-color: white;
}
.darkProyecto{
    background-color: black;
}