<div class="d-flex flex-column mb-3">
    <div class="p-2 align-self-end">
        <i class="fa-regular fa-circle-xmark borrar" routerLink="/"></i>
    </div>
    <div class="p-2">
        <label>Institucion:</label>
        <input type="text" class="form-control" [value]="institution" aria-describedby="basic-addon1">
    </div>
    <div class="p-2">
        <label>Logo:</label>
        <input class="form-control" [value]="logo">
    </div>
    <div class="p-2">
        <label>Descripcion:</label>
        <input class="form-control" [value]="description">
    </div>
    <div class="p-2" id="tareas">
        <label>Tareas:</label>
        <div class="row" *ngFor="let t of task">
            <div class="col">
                <input class="form-control task" [value]="t">
            </div>
            <div class="col-2 my-auto">
                <i class="fa-sharp fa-solid fa-trash editar remarcar float-end" (click)="eliminarTarea($event)"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control task" placeholder="Nueva Tarea">
            </div>
            <div class="col-2 my-auto">
                <i class="fa-solid fa-circle-plus remarcar float-end" (click)="agregarTarea($event)"></i>
            </div>
        </div>
    </div>
    <div class="p-2">
        <label>Repositorio:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <label>Certificado:</label>
        <input class="form-control">
    </div>
    <div class="p-2">
        <button type="submit" class="btn btn-primary mb-3 rounded mx-auto d-block">Modificar</button>
    </div>
</div>