

@media (max-width:520px) {
    :host ::ng-deep .texto {
        font-size: 3vw;        
    }
    :host ::ng-deep .titulo{
        font-size: 5vw;
    }
}
@media (max-width:780px) {
    :host ::ng-deep .logo {
        max-width: 100%;
        min-width: 40px;
    }
}