

@media (max-width:780px) {
     .logo {
        max-width: 100%;
        min-width: 40px;
    }
}

#status{
    border-radius: 20px;
    border-color: black;
    padding:2%;
    position:fixed;            
    display:none;
    background-color: white;
    border-style: double;
    color:black;
}

#mensajeDeInicio{
    padding-top:20px;
}