
    <app-encabezado></app-encabezado>
    <app-acerca-de></app-acerca-de>
    <app-educacion></app-educacion>   
    <app-conocimientos></app-conocimientos>         
    <app-experiencia></app-experiencia>  
    <app-proyecto></app-proyecto>     
    <app-footer></app-footer>
    <router-outlet ></router-outlet>       
    <!--Spinner indicador del estado de carga, se coloca aquí para que aparezca en el medio de la pantalla-->
    <div class="mb-3 top-50 start-50 translate-middle" id="status">
        <div class="row justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>    
        </div>
        <div class="row" id="mensajeDeInicio">
            <p>Cargando...</p>
        </div>          
    </div>  
