@media (max-width:770px) {
    :host ::ng-deep .editar {
        max-width: 100%;
        font-size: 15px;
    }
}

@media (max-width:350px) {
    :host ::ng-deep .editar {
        max-width: 100%;
        font-size: 10px;

    }

}

@media (max-width:520px) {
    :host ::ng-deep .texto {
        font-size: 3vw;
    }

    :host ::ng-deep .titulo {
        font-size: 5vw;
    }
    :host ::ng-deep .tituloItem {
        font-size: 4vw;
    }

    :host ::ng-deep #nombre {
        font-size: 3vw;
    }
}

@media (max-width:780px) {
     .logo {
        max-width: 100%;
        min-width: 40px;
    }
}


:host ::ng-deep .editar {
    margin-left: 10px;
}
/**/

:host ::ng-deep .remarcar:hover {
    color: #6495ED;
}



:host ::ng-deep .editarImagen:hover {
    opacity: 0.3;
    transition: 0.8s ease;
}

#status{
    border-radius: 20px;
    padding:2%;
    position:fixed;            
    display:none;
    background-color: white;
    border-style: double;
}