#login {
    position: fixed;
    top: 40%;
    height: auto;
    border-style: solid;    
    border-radius: 20px;
}
@media(max-width:400px){
    #login{
        width:80%;
    }
}
.dark{
    border-color: white;
}
