body {
  font-family: sans-serif;      
}

.dark{
  background-color: black;
  color:white;
}
a{
  padding-right: 1%;
}
.login{
  padding:3%
}


#redesSegundaFila {
  display: none;
}

@media (max-width:480px) {
  #redesPrimeraFila {
    display: none
  }

  #redesSegundaFila {
    display: block;
  }
}

@media (max-width:310px) {
  #curso {
    font-size: 6vw;
  }

  .login {
    font-size: 4vw;
  }
}
