<div class="container-sm" id="formulario">
    <form>
        <div class="row">        
                <label for="lname">Contacto</label><br>                
        </div>
        <div class="row">
            <div class="col">
                <label for="lname">Nombre/Organización</label><br>
                <input type="text" id="nombre" name="nombre">
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <label for="lname">Email</label><br>
                <input type="text" id="email" name="email">
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <label for="lname">Mensaje</label><br>
                <input type="text" id="lname" name="mensaje">
            </div>            
        </div>
        <div class="row" >
            <div class="col">
                <input type="submit" value="Enviar">
            </div>            
        </div>
    </form>
</div>