<div class="col-4">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre/Organización</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        <label for="exampleFormControlInput1" class="form-label">Contacto</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email/teléfono">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>