<div class="d-flex flex-column mb-3">
    <Form [formGroup]="formCon" (submit)="agregarConocimiento()">
        <div class="p-2">
            <label>Título:</label>
            <input class="form-control" formControlName="nombre">
        </div>
        <div class="p-2">
            <label>Logo:</label>
            <input type="text" class="form-control"  aria-describedby="basic-addon1"
                formControlName="logo">
        </div>
        <div class="p-2" >
            <button type="submit" class="btn btn-primary mb-3 rounded mx-auto d-block">Agregar Conocimiento</button>
            <p id="estadoEnvio"></p>
        </div>
    </Form>
</div>
