<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Remitente</th>
            <th scope="col">Email</th>
            <th scope="col">Mensaje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mensaje of listMensaje">
            <th scope="row">{{mensaje.fecha}}</th>
            <td>{{mensaje.organizacion}}</td>
            <td>{{mensaje.contacto}}</td>
            <td>{{mensaje.mensaje}}</td>
        </tr>
    </tbody>
</table>