<div class="container" >
    <div class="row" id="relativo">
        <div class="col-2" id="absoluto" style="border-color:black;">
            <img src=".\assets\img\fotoPerfil.jpg" class="rounded-circle rounded mx-auto d-block" alt="banner" />
            <h6 class="text-center">{{miPortfolio.name}}</h6>
        </div>
        <div class="col-2">            
        </div>
        <div class="col" style="margin-top:1%;">            
            <p >Desarrollador Web Full Stack Developer Jr. y estudiante de la Lic. en Cs. de la computación en la Univ. del
            Comahue</p>                     
        </div>
    </div>
</div>