
#foto{
    min-width: 40px;
    max-width: 100%;
}
#relativo{
    position:relative;
    border-color:black;
}
#absoluto{
    
       
}

p{
    margin-top:1%;
    
}
.editar:hover  {
    color:#6495ED;
}
.editar{
    margin-left: 10px;
}

