#foto {
    min-width: 40px;    
}
.col-md-2{
    #foto{
        max-width: 100%;    
    }
    padding: 0 !important;    
    @media(max-width: 767px){
        #foto{
            max-width: 20%;
        }        
    }
}

#relativo {
    position: relative;
    border-color: black;
    margin-bottom: 20%;
    @media(max-width: 767px){
        margin-bottom: 40%;
    }
}

#absoluto {
    position: absolute;
    top: 80%;
    
}

.editar:hover {
    color: #6495ED;
}

.editar {
    margin-left: 10px;
}

#imagen {
    max-height: 25vw;
    border-radius: 0%;   
}
#nombre{
    
}



