<div class="d-flex flex-column mb-3">
    <Form [formGroup]="form" (submit)="modificarEducacion()">
        <div class="p-2 align-self-end">
            <i class="fa-regular fa-circle-xmark borrar" routerLink="/"></i>
        </div>
        <div class="p-2">
            <label>Título:</label>
            <input class="form-control" [value]="ed?.titulo" formControlName="titulo">
        </div>
        <div class="p-2">
            <label>Institucion:</label>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                [value]="ed?.institucion" formControlName="institucion">
        </div>
        <div class="p-2">
            <label>Logo:</label>
            <input class="form-control" [value]="ed?.logo" formControlName="logo">
        </div>
        <div class="p-2">
            <label>Estado:</label>
            <input class="form-control" [value]="ed?.estado" formControlName="estado">
        </div>
        <div class="p-2">
            <label>Comienzo:</label>
            <input class="form-control" [value]="ed?.anioIngreso" formControlName="anioIngreso">
        </div>
        <div class="p-2">
            <label>Finalización:</label>
            <input class="form-control" [value]="ed?.anioFinalizacion" formControlName="anioFinalizacion">
        </div>
        <div class="p-2">
            <label>Total de Materias:</label>
            <input class="form-control" [value]="ed?.materiasTotales" formControlName="materiasTotales">
        </div>
        <div class="p-2">
            <label>Materias Aprobadas:</label>
            <input class="form-control" [value]="ed?.materiasAprobadas" formControlName="materiasAprobadas">
        </div>

        <div class="p-2">
            <button type="submit" class="btn btn-primary mb-3 rounded mx-auto d-block">Modificar</button>
            <p id="estadoEnvio"></p>
        </div>
    </Form>
</div>